:local(.addFriendInput) {
  border-radius: 0;
  border-color: #abaaaa;
  border-left: 0;
  border-right: 0;
}

:local(.gender) {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}

:local(.gender) span {
  font-size: 1em;
  padding: 0 10px;
  font-weight: normal;
  vertical-align: middle;
}

:local(.gender) input[type="checkbox"],
:local(.gender) input[type="radio"] {
  font-size: 1.25em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin: 0 auto;
}

:local(.btnAction),
:local(.btnAction):active,
:local(.btnAction):focus,
:local(.btnAction):hover {
  color: #5c75b0;
  padding: 0 10px;
  font-size: 1em;
  align-items: flex-end;
  margin-top: 5px;
}
